{% extends "base.html" %}

{% block title %}Recommended Problems{% endblock %}

{% block content %}
    <h1>추천 문제 페이지</h1>
    {% if problem %}
        <h2>{{ problem.title }}</h2>
        <p>{{ problem.description | replace('\\n', '<br>')|safe }}</p>
        <form method="POST">
            <label for="answer">답:</label>
            <input type="text" id="answer" name="answer">
            <input type="hidden" name="problem_id" value="{{ problem.problem_id }}">
            <button type="submit">제출</button>
        </form>
    {% else %}
        <p>추천할 문제가 없습니다.</p>
    {% endif %}
{% endblock %}
